UnrealProject/Binaries/
UnrealProject/DerivedDataCache
UnrealProject/Intermediate/
UnrealProject/Saved/
*.opensdf
*.sdf
*.sln
*.suo
Design/~$Assets.xlsx
3ds Max/autoback/
3ds Max/export/
Photoshop/
*.aux
Latex/main.synctex.gz
Latex/main.pdf
*.toc
*.lof
